{% extends 'base.html' %}
{% load static %}

{% block meta %}
<script>window.CSRF_TOKEN = "{{ csrf_token }}"</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
{% endblock meta %}

{% block content %}
<!-- <form id="form" onsubmit="return false;">
    {% csrf_token %}
    <label>Judul</label>
    <input type="text" name="title"></input>
    <label>Deskripsi</label>
    <input type="text" name="deskripsi"></input>
    <button id="button" type="submit"  value="Submit"></button>
  </form> -->




  
<style>
  .gradient-custom {
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(211, 170, 255), rgb(166, 199, 255))
  }

  .navbar-custom {
    background: linear-gradient(to left, rgb(255, 229, 246), rgb(189, 213, 255))
  }

  .card{
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    padding: 14px 80px 18px 36px;
    cursor: pointer;
  }

  .card:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
  }

  body {
          overflow-x: hidden;
      }
</style>



<div class="navbar fixed-top navbar-custom color-custom shadow-lg p-3 mb-5 ">

  <h1 class="px-2" style="text-align: center;">Assignment 4 PBP/PBD<br></h1><br>


  <h2 class="px-2" style="text-align: center;">
    <button class="btn btn-outline-light btn-lg px-5" data-bs-toggle="modal" data-bs-target="#exampleModal" >Create Task</button>
  
    <button class="btn btn-outline-light btn-lg px-5">
      <a href="{% url 'todolist:logout' %}"> Logout</a>
    </button>
  </h2>

</div>

<div class="gradient-custom">
  <br><br><br>
  <!-- <table id="table"></table> -->


  
  <div class="container">
    <div class="row row-cols-4 g-5 py-5 px-5 row d-flex justify-content-center" id="cardcontainer"></div>
 
  </div>

  <!-- {% if task %}
  <div class="container">

    <div class="row row-cols-4 g-5 py-5 px-5 row d-flex justify-content-center">
      {% comment %} Add the data below this line {% endcomment %}
      {% for item in task %}
      
        <div class="col-12 col-md-6 col-lg-4">
          <div class="card .bg-light .bg-gradient rounded">
            <div class="card-body">
              <h5 class="card-title">{{item.title}}</h5>
              <p class="card-text">{{item.description}}</p>
              <h5 class="card-date">{{item.date}}</h5>
              <a href="{% url 'todolist:delete-task' item.id %}">Delete</a>
            </div>
          </div>
        </div>
      {% endfor %}

  </div>

  {% else %}
  <p>No Task Available</p>
  {% endif %} -->
  </div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Create Task</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form action="" id="form">
            {% csrf_token %}
                <div class="mb-md-5 mt-md-4 pb-5 px-2 py-2 bg-light text-dark rounded">
                    <div class="form-outline form-dark mb-4">
                        <input type="text" name="title" class="form-control"/>
                      <label class="form-label" for="typeTitle">Title</label>
                    </div>

                    <div class="mb-md-5 mt-md-4 pb-5 px-2 bg-light text-dark">
                        <div class="form-outline form-dark mb-4">
                            <input type="text" name="description" class="form-control"/>
                        <label class="form-label" for="typeDesc">Description</label>
                    </div>
            </form>
        </div>
        <div class="modal-footer">
            <td><button class="btn btn-outline-dark btn-lg px-5" id="button" data-bs-dismiss="modal" onsubmit="return false;">Create</button></td>
        </div>
      </div>
    </div>
  </div>

  <script>
    $(document).ready(function()  {
      refreshTodolist();
    });
    
    async function getTodolist() {
      return fetch("{% url 'todolist:show_json' %}").then((res) => res.json())
    }
  
    async function refreshTodolist() {
          document.getElementById("cardcontainer").innerHTML = ""
          const todolist = await getTodolist()
          let htmlString = ``
          todolist.forEach((item) => {
            htmlString += `<div class="col-12 col-md-6 col-lg-4">
          <div class="card .bg-light .bg-gradient rounded">
            <div class="card-body">
                <h5 class="card-title">${item.fields.title}</h5>
                <h6 class="card-subtitle mb-2 text-muted">${item.fields.date}</h6>
                <p class="card-text">${item.fields.description}</p>
                <p class="card-text"></p> 
                {% if task.is_finished %}
                <p class="card-text">✅</p>
                {% else %}
                <p class="card-text">❎</p>
                {% endif %}

                <button class="bg-green-500 rounded-2xl p-2 text-white font-bold delete" onclick="ToggleStatus(${item.pk})">Finish</button>
                <button class="bg-green-500 rounded-2xl p-2 text-white font-bold delete" onclick="deleteTask(${item.pk})">Delete</button>
            </div>
          </div>
        </div>` 
          })
          
          document.getElementById("cardcontainer").innerHTML = htmlString
    }
  
    function addTodolist() {
      fetch("{% url 'todolist:create-task-ajax' %}", {
            method: "POST",
            body: new FormData(document.querySelector('#form'))
        }).then(refreshTodolist)
      return false
    }

    function deleteTask(id) {
        $.ajax({
            type: "GET",
            url: "/todolist/delete-task-ajax/" + id,
            data: {csrfmiddlewaretoken: '{{ csrf_token }}'}
        }).done((data) => {
            refreshTodolist();
        })
    }

    function toggleStatus(id) {
        $.ajax({
            type: "GET",
            url: "/todolist/toggle-finish/" + id,
            data: {csrfmiddlewaretoken: '{{ csrf_token }}', pk: id}
        }).done((data) => {
            refreshTodolist();
        })
    }

    document.getElementById("button").onclick = addTodolist
    
    refreshTodolist()
  </script>

  <h5></h5>


  <h5 style = "font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 32px; color: blue; text-align: center;">{{status}}</h5>


 {% endblock content %}
</div>
