{% extends 'base.html' %}

 {% block content %}
  
  <style>
    .gradient-custom {
      /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      background: linear-gradient(to right, rgb(211, 170, 255), rgb(166, 199, 255))
    }

    .navbar-custom {
      background: linear-gradient(to left, rgb(255, 229, 246), rgb(189, 213, 255))
    }

    .card{
      border-radius: 4px;
      background: #fff;
      box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
      transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
      padding: 14px 80px 18px 36px;
      cursor: pointer;
    }

    .card:hover{
      transform: scale(1.05);
      box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
    }

    body {
            overflow-x: hidden;
        }
  </style>



  <div class="navbar fixed-top navbar-custom color-custom shadow-lg p-3 mb-5 ">

    <h1 class="px-2" style="text-align: center;">Assignment 4 PBP/PBD<br></h1><br>


    <h2 class="px-2" style="text-align: center;">
      <button class="btn bg-dark btn-outline-light btn-lg px-5">
        <a href="{% url 'todolist:create-task' %}"> Create Task</a>
      </button>
    
      <button class="btn btn-outline-light btn-lg px-5">
        <a href="{% url 'todolist:logout' %}"> Logout</a>
      </button>
    </h2>

  </div>

  <div class="gradient-custom">
    <br><br><br>
    {% if list %}
      <div class="row row-cols-4 g-5 py-5 px-5 row d-flex justify-content-center">
      {% comment %} Add the data below this line {% endcomment %}
      {% for item in list %}
      
        <div class="col">
          <div class="card .bg-light .bg-gradient rounded" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">{{item.title}}</h5>
              <p class="card-text">{{item.description}}</p>
              <h5 class="card-date">{{item.date}}</h5>
              <a href="{% url 'todolist:delete-task' item.id %}">Delete</a>
            </div>
          </div>
        </div>
      
    
        
      {% endfor %}
      </div>
    {% else %}
    <p>No Task Available</p>
    {% endif %}
  
    <h5></h5>
  
  
    <h5 style = "font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 32px; color: blue; text-align: center;">{{status}}</h5>
  
  
   {% endblock content %}
  </div>


