{% extends 'base.html' %}

 {% block content %}

  <h1>Assignment 3 PBP/PBD</h1>

  <h5 style="font-family: Verdana, Geneva, Tahoma, sans-serif;">Name: </h5>
  <p style="font-family: Verdana, Geneva, Tahoma, sans-serif;">{{nama}}</p>

  <h5 style = "font-family: Verdana, Geneva, Tahoma, sans-serif;">Student ID: </h5>
  <p style = "font-family: Verdana, Geneva, Tahoma, sans-serif;">{{id}}</p>


  <table style="font-family: Verdana, Geneva, Tahoma, sans-serif;">
    <tr>
      <th>Watched ?</th>
      <th>Title</th>
      <th>Rating</th>
      <th>Release Date</th>
      <th>Review</th>
    </tr>
    {% comment %} Add the data below this line {% endcomment %}
    {% for item in list %}
    <tr>
      <td>{{item.watched}}</td>
      <td>{{item.title}}</td>
      <td>{{item.rating}}</td>
      <td>{{item.release_date}}</td>
      <td>{{item.review}}</td>
    </tr>
	  {% endfor %}
  </table>

  <h5 style = "font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 32px; color: blue; text-align: center;">{{status}}</h5>


 {% endblock content %}
